form {
   display: flex;
   flex-direction: column;
   max-width: 500px;
   margin: 0 auto;
}

form div {
   margin-bottom: 1rem;
}

form label {
   font-weight: bold;
}

form input,
form select {
   padding: 0.5rem;
   border-radius: 4px;
   border: 1px solid #ccc;
}

form button {
   padding: 0.5rem;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

form button:hover {
   background-color: #0069d9;
}

form button:active {
   background-color: #005cbf;
}

