.menu-container {
  display: flex;
}

.menu {
  flex: 1;
  padding: 10px;
  background-color: #f2f2f2;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  padding: 5px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
}

.menu a:hover {
  background-color: #aaa;
  color: #fff;
}

.content-container {
  flex: 3;
}

.section {
  display: none;
}

.active {
  display: block;
}