nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 200px;
   height: 100%;
   background-color: #ccc;
}

section {
   margin-left: 220px;
   padding: 20px;
   border: 1px solid #ccc;
}

section:first-child {
   margin-top: 0;
}

a {
   display: block;
   padding: 10px;
   color: #fff;
   text-decoration: none;
}

a:hover {
   background-color: #666;
}

.active {
   background-color: #666;
}