/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
   --black: #3a3a3a;
   --white: #fff;
   --green: #2c5794;
}

* {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ol {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   color: var(--black);
   font: 1rem/1.3 sans-serif;
}

.author-archive {
   padding: 1.5rem;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

h1 {
   text-align: center;
}

h1 a {
   transition: all 0.1s;
}

h1 a:hover {
   background: var(--green);
   color: var(--white);
}

input[type="radio"] {
   position: absolute;
   left: -9999px;
}

label {
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   color: #696E77;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   border-radius: 10px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}


/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
   text-align: center;
   margin-bottom: 2rem;
}

.filters * {
   display: inline-block;
}

.filters label {
   padding: 0.5rem 1rem;
   margin-bottom: 0.25rem;
   min-width: 50px;
   line-height: normal;
   cursor: pointer;
   transition: all 0.1s;
}

.filters label:hover {
   background: var(--green);
   color: var(--white);
}

li {
   position: relative;
   overflow: hidden;
   box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
   display: grid;
   grid-gap: 1.5rem;
   grid-template-columns: repeat(1, 1fr);
}

.posts .post {
   background: #fafafa;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
   font-size: 1.3rem;
}

.posts .post-title:hover {
   text-decoration: underline;
}

.posts figcaption {
   padding: 1rem;
}

.posts .post-categories {
   margin-bottom: 0.75rem;
   font-size: 0.75rem;
}

.posts .post-categories * {
   display: inline-block;
}

.posts .post-categories li {
   margin-bottom: 0.2rem;
}

.posts .post-categories a {
   padding: 0.2rem 0.5rem;
   border-radius: 1rem;
   border: 1px solid;
   line-height: normal;
   transition: all 0.1s;
}

.posts .post-categories a:hover {
   background: var(--green);
   color: var(--white);
}


/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked~.filters [for="All"],
[value="CSS"]:checked~.filters [for="CSS"],
[value="JavaScript"]:checked~.filters [for="JavaScript"],
[value="jQuery"]:checked~.filters [for="jQuery"],
[value="WordPress"]:checked~.filters [for="WordPress"],
[value="Slider"]:checked~.filters [for="Slider"],
[value="fullPage.js"]:checked~.filters [for="fullPage.js"] {
   background: var(--green);
   color: var(--white);
}

[value="All"]:checked~.posts [data-category] {
   display: block;
}

[value="CSS"]:checked~.posts .post:not([data-category~="CSS"]),
[value="JavaScript"]:checked~.posts .post:not([data-category~="JavaScript"]),
[value="jQuery"]:checked~.posts .post:not([data-category~="jQuery"]),
[value="WordPress"]:checked~.posts .post:not([data-category~="WordPress"]),
[value="Slider"]:checked~.posts .post:not([data-category~="Slider"]),
[value="fullPage.js"]:checked~.posts .post:not([data-category~="fullPage.js"]) {
   display: none;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media (min-width:480px)  { 
   .posts {
   grid-template-columns: repeat(1, 1fr);
}
}
@media (min-width:600px)  { 
   .posts {
   grid-template-columns: repeat(1, 1fr);
}
}
@media (min-width:801px)  { 
.posts {
   grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width:1025px) { 
.posts {
   grid-template-columns: repeat(3, 1fr);
}
}
@media (min-width:1281px) { 
.posts {
   grid-template-columns: repeat(3, 1fr);
}
}