.slider {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}